<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <ui:composition>

        <p:dialog id="repDialog" widgetVar="repDialog" modal="true" resizable="false" 
                  appendTo="@(body)" header="Reprogramar fechas de vacacion"
                  width="60%">
            <h:form id="frmReprogramar">
                <p:messages id="messages" showDetail="true" closable="true">
                </p:messages>
                <h:panelGroup id="pgDisplay">
                    <h:panelGrid columns="2" rendered="#{calendario.usuario.rol eq 'EMPLEADO'}">
                        <p:outputLabel value="Persona: " />
                        <p:outputLabel value="#{calendario.usuario.nombre}" />
                        <p:outputLabel value="Rol:" />
                        <p:outputLabel value="#{calendario.usuario.rol}" />
                        <p:outputLabel value="Dias de vacacion correspndientes:" rendered="#{calendario.usuario.rol == 'EMPLEADO'}"/>
                        <p:outputLabel value="#{calendario.usuario.diasCorresponden}" rendered="#{calendario.usuario.rol == 'EMPLEADO'}"/>
                        <p:outputLabel value="Dias de vacacion disponibles por reprogramacion:" rendered="#{calendario.usuario.rol == 'EMPLEADO'}"/>
                        <p:outputLabel id="acumulado" value="#{calendario.totalDiasAcumuladosReprogramacion}" style="color: red;font-weight: bold" rendered="#{calendario.usuario.rol == 'EMPLEADO'}"/>
                    </h:panelGrid>
                    <p:dataTable id="dt" var="tel" value="#{calendario.eventosReprogramarList}" 
                                 rows="10"
                                 paginator="true"
                                 paginatorAlwaysVisible="true"
                                 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 currentPageReportTemplate="{startRecord} - {endRecord} de {totalRecords}"
                                 rowsPerPageTemplate="10,20,30,40,50,60,70,80,90,100"
                                 paginatorPosition="top" summary="true"
                                 emptyMessage="No se encontraron registros" multiViewState="true">
                        <f:facet name="header">
                            Vacaciones que se reprogramaran
                        </f:facet>
                        <p:column headerText="Persona" rendered="#{calendario.usuario.rol != 'EMPLEADO'}">
                            <h:outputText value="#{tel.evento.title}" >
                                <f:convertDateTime pattern="dd/MM/yyyy" />
                            </h:outputText>
                        </p:column>
                        <p:column headerText="Desde">
                            <h:outputText value="#{tel.evento.startDate}" >
                                <f:convertDateTime pattern="dd/MM/yyyy" />
                            </h:outputText>
                        </p:column>
                        <p:column headerText="Hasta">
                            <h:outputText value="#{tel.evento.endDate}">
                                <f:convertDateTime pattern="dd/MM/yyyy" />
                            </h:outputText>
                        </p:column>
                        <p:column headerText="Dias">
                            <h:outputText value="#{tel.dias}"/>                                
                        </p:column>
                        <p:column headerText="Estado vacacion">
                            <h:outputText value="#{calendario.mapEstados.get(tel.estadoCalendario)}"/>    
                        </p:column>
                    </p:dataTable>
                </h:panelGroup>
                <p:panel id="basic" header="Agregar nuevas fechas de vacacion por reprogramacion">
                    <h:panelGrid columns="2" rendered="#{calendario.usuario.rol eq 'EMPLEADO'}">

                        <p:outputLabel for="from" value="Desde:" />
                        <p:datePicker id="from" value="#{calendario.fechaInicio}" pattern="dd/MM/yyyy" showTime="false" appendTo="@(body)" locale="es" mindate="#{calendario.today}" monthNavigator="true">
                            <p:ajax event="dateSelect" update="to" listener="#{calendario.onDateSelect(selectEvent)}" />
                        </p:datePicker>

                        <p:outputLabel for="to" value="Hasta:" />
                        <p:datePicker id="to" value="#{calendario.fechaFin}" pattern="dd/MM/yyyy" showTime="false" appendTo="@(body)" locale="es" mindate="#{calendario.fechaInicio}" monthNavigator="true"/>

                        <p:commandButton type="reset" value="Limpiar" />
                        <p:commandButton id="addButton" type="submit" value="Agregar" actionListener="#{calendario.agregarReprogramacion()}"  
                                         update=":frmReprogramar:eventsDT :frmReprogramar:from :frmReprogramar:to messages acumulado"/>
                    </h:panelGrid>

                    <p:dataTable id="eventsDT" var="tel" value="#{calendario.tablaEventosReprogramadosList}" 
                                 rows="10"
                                 paginator="true"
                                 paginatorAlwaysVisible="true"
                                 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 currentPageReportTemplate="{startRecord} - {endRecord} de {totalRecords}"
                                 rowsPerPageTemplate="10,20,30,40,50,60,70,80,90,100"
                                 paginatorPosition="top" summary="true"
                                 emptyMessage="No se encontraron registros" multiViewState="true">
                        <f:facet name="header">
                            Nuevas vacaciones que se haran efectivas al confirmar
                        </f:facet>
                        <p:column headerText="Persona" rendered="#{calendario.usuario.rol != 'EMPLEADO'}">
                            <h:outputText value="#{tel.evento.title}" >
                                <f:convertDateTime pattern="dd/MM/yyyy" />
                            </h:outputText>
                        </p:column>
                        <p:column headerText="Desde">
                            <h:outputText value="#{tel.evento.startDate}" >
                                <f:convertDateTime pattern="dd/MM/yyyy" />
                            </h:outputText>
                        </p:column>
                        <p:column headerText="Hasta">
                            <h:outputText value="#{tel.evento.endDate}">
                                <f:convertDateTime pattern="dd/MM/yyyy" />
                            </h:outputText>
                        </p:column>
                        <p:column headerText="Dias">
                            <h:outputText value="#{tel.dias}"/>                                
                        </p:column>
                        <p:column headerText="Estado vacacion">
                            <h:outputText value="#{calendario.mapEstados.get(tel.estadoCalendario)}"/>    
                        </p:column>
                    </p:dataTable>
                    <p:commandButton value="Confirmar Reprogramacion" 
                                     actionListener="#{calendario.guardaReprogramacion()}" 
                                     update="messages "/>

                </p:panel>
            </h:form>
        </p:dialog>
    </ui:composition>
</html>